body {
    background-color: #f2f2f2;
    background-image:
        linear-gradient(rgba(0, 0, 0, .5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, .5) 1px, transparent 1px);
    background-size: 40px 40px;
}
header {
    color: black;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.calculator-container {
    position: relative;
    width: fit-content;
    margin: 20px auto;
}

.calculator-image {
    display: block;
    width: 500px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px; 
    /* Centers the title vertically and horizontally */
    left: 50%;
    transform: translateX(-50%);
}

.title h1 {
    margin: 0; /*removes spacing around element*/
    font-size: 1.5em;
}

.title p {
    margin: 5px 0 0 0; /*margin top, removes other spacing*/
    font-size: 0.9em;
}

.solar-container {
    position: absolute;
    height: 50px;
    width: 120px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.solar-panel {
    height: 30px;
    width: 120px;
    background-color: black;
    border-radius: 5px;
}

.ti-logo {
    position: absolute;
    height: 30px;
    width: 200px;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
}

.display-screen {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 110px;
    background-color: #e6e6e6;
}

.display-screen input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e6e6e6;
}

.buttons-container1 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    top: 30px;
    left: 40px;
    width: 200px;
}

.btn-wide {
    grid-column: span 3;
}

.btn.function-btn1 {
    background-color: #32cae8;
    color: rgb(5, 13, 11);
    border: none;
    width: 50px;
    padding: 10px;
    font-size: 0.75em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    top: 250px;
    position: relative; /*prevents from buttons stacking*/
}

.btn.number-btn {
    background-color: #32cae8;
    color: rgb(5, 13, 11);
    position: relative;
    border: none;
    width: 50px;
    padding: 10px;
    font-size: 0.75em;
    top: 250px
}

.buttons-container2 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    top: 140px;
    left: 270px;
    width: 200px;
}

.btn.function-btn2 {
    background-color: #32cae8;
    color: rgb(5, 13, 11);
    border: none;
    width: 50px;
    padding: 10px;
    font-size: 0.75em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    top: 250px;
    position: relative; /*prevents from buttons stacking*/
}

.btn.number-btn2 {
    background-color: #32cae8;
    color: rgb(5, 13, 11);
    position: relative;
    font-weight: bold;
    border: none;
    width: 50px;
    padding: 10px;
    font-size: 0.75em;
    top: 250px;
}

.btn.operator-btn {
    background-color: #32cae8;
    color: rgb(5, 13, 11);
    position: relative;
    border: none;
    width: 50px;
    font-weight: bold;
    padding: 10px;
    font-size: 0.75em;
    top: 250px;
}

.buttons-container1 .btn:hover,
.buttons-container2 .btn:hover {
    background-color: #28a0b0;
}